<div fxLayout="row wrap">
    <!-- card 1 start -->
    
    <!-- card 1 end -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
        <app-sales-overview-grap></app-sales-overview-grap>
    </div>
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <app-visiter-graph></app-visiter-graph>
    </div>
</div>

<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <app-sticker></app-sticker>
        <app-contacts></app-contacts>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <app-activity></app-activity>
    </div>
</div>